.container {
	@include flex(start, space-between, 29px);
	padding-top: 138px;
	background: url('../../assets/blur.svg') no-repeat;
	background-position-x: center;
	background-position-y: -30px;
	background-size: contain;
	padding-bottom: 200px;


	@include media($mobile-bp) {
		background-position-y: center;
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 100px;
	}
}

.info {
	@include flex(start, center, 50px);
	flex-direction: column;
	text-align: left;
	width: 50%;
	padding-top: 120px;

	@include media($mobile-bp) {
		align-items: center;
		gap: 20px;
		width: 100%;
		padding-top: 0;
		text-align: center;
	}

	&Title {
		max-width: 564px;
		font-size: 50px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--bold-text);

		@include media($mobile-bp) {
			font-size: 32px;
		}
	}

	&Desc {
		max-width: 433px;
		font-size: 14px;
	}
}

.poster {
	border-radius: 70px;
	overflow: hidden;
	width: 50%;

	@include media($mobile-bp) {
		border-radius: 40px;
		width: 80%;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}
