.container {
	@include flex(center, space-between, 29px);
	padding-block: 200px 200px;
	
	@include media($mobile-bp) {
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 100px;
	}
}

.info {
	@include flex(flex-start, center, 50px);
	flex-direction: column;
	text-align: left;
	width: 50%;
	position: relative;
	z-index: 2;

	@include media($mobile-bp) {
		align-items: center;
		gap: 20px;
		width: 100%;
		text-align: center;
	}

	&Title {
		max-width: 564px;
		font-size: 50px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--bold-text);

		@include media($mobile-bp) {
			font-size: 32px;
		}
	}

	&Desc {
		max-width: 433px;
		font-size: 14px;
	}
}

.poster {
	border-radius: 70px;
	overflow: hidden;
	z-index: 1;

	@include pseudo(before, false) {
		background: url('../../assets/blur.svg') no-repeat;
		background-size: 50%;
		background-position-x: 400px;
		background-position-y: 200px;
		content: '';
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;

		@include media($laptop-bp) {
			background-position-x: 250px;
		}

		@include media($mobile-bp) {
			background-position: center 90px;
			background-size: 80%;
		}
	}

	@include media($laptop-bp) {
		max-width: 50%;
	}

	@include media($mobile-bp) {
		border-radius: 40px;
		max-width: unset;
	}

	img {
		display: block;
		height: auto;
		width: 100%;

		@include media($mobile-bp) {
			max-height: 400px;
		}
	}
}
